{% extends "registration/registration_base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% translate "Reset password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center">
  <div class="col-6 h-100">
    <div class="border border-light rounded-1 shadow p-4 my-4 mx-auto">
      <p>
        {% blocktrans %}
        Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
        {% endblocktrans %}
      </p>
      <form method="post" action="" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-primary">{% translate 'Reset password' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
