{% extends '_base.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="year">Release year:</label>
        <input type="text" name="year" id="year">
    </div>
    <div>
        <label for="plot">Plot:</label>
        <textarea name="plot" id="plot"></textarea>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

{% endblock content %}