{% extends '_base.html' %}

{% block styles %}
{{ block.super }}
<style>
.header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
</style>
{% endblock styles %}

{% block content %}
<div class="header-title">
    <h1>Latest Movies</h1>
    <a class="btn btn-primary" href="{% url 'movie-add' %}">Add Movie</a>
</div>
<section>
{% for movie in movies %}
    <div>
        <h3>
            <a href="{% url 'movie-detail' pk=movie.pk %}">
                {{ movie.title }}
            </a>
        </h3>
        <div>
            {{ movie.year }} - {{ movie.rating }} - {{ movie.runtime }}
        </div>
        <p>Directed by: {{ movie.director }}</p>
        <div>{{ movie.plot }}</div>
    </div>
{% endfor %}
</section>
{% endblock content %}