{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>{{ movie.title }}</h1>
    <div>
      <a class="btn btn-info" href="{% url 'movie-review' pk=movie.pk %}">Review</a>
      <a class="btn btn-warning" href="{% url 'movie-edit' pk=movie.pk %}">Edit</a>
      <a class="btn btn-danger" href="{% url 'movie-delete' pk=movie.pk %}">Delete</a>
    </div>
</div>
<div>{{ movie.year }} - {{ movie.rating }} - {{ movie.runtime }}</div>
<div>{{ movie.plot }}</div>
<div>
  <p>Seats: <b>{{ movie.seats }}</b></p>
  <p>Still Available: <b>{{ movie.available_seats }}</b></p>
</div>
<div class="d-flex justify-content-center align-items-center">
  <input class="form-control" type="number" name="quantity" value="1">
  <button class="btn btn-primary" id="submitBtn">Buy</button>
</div>
<hr>
{% if reviews %}
  <h2>Reviews</h2>
  {% for review in reviews %}
    <div>
      <p>Rating: {{ review.rating }}</p>
      <p>{{ review.content }}</p>
    </div>
  {% endfor %}
{% endif %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
const PAYMENTS_KEY_URL = "{% url 'payments_pubkey' %}";
const PAYMENTS_CHECKOUT_SESSION_URL = "{% url 'buy-movie' movie_id=movie.pk %}";
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'scripts/buy.js' %}"></script>
{% endblock scripts %}