{% extends '_base.html' %}

{% load pagination_extras %}

{% block styles %}
{{ block.super }}
<style>
.header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
</style>
{% endblock styles %}

{% block content %}
<div class="header-title">
    <h1>Latest Movies</h1>
    <a class="btn btn-primary" href="{% url 'movie-add' %}">Add Movie</a>
</div>
<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
        <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Previous</a>
      </li>
      {% for page in paginator|elided_pages:page_obj.number %}
        <li class="page-item">
          {% if page == paginator.ELLIPSIS %}
            <span class="page-link disabled">{{ page }}</span>
          {% else %}
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          {% endif %}
        </li>
      {% endfor %}
      <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
        <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next</a>
      </li>
    </ul>
  </nav>
</div>
<section>
{% for movie in movies %}
    <div>
        <h3>
            <a href="{% url 'movie-detail' pk=movie.pk %}">
                {{ movie.title }}
            </a>
        </h3>
        <div>
            {{ movie.year }} - {{ movie.rating }} - {{ movie.runtime }}
        </div>
        <p>Directed by: {{ movie.director }}</p>
        <div>{{ movie.plot }}</div>
    </div>
{% endfor %}
</section>
{% endblock content %}