{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Buy a T-Shirt</h1>
<div class="d-flex justify-content-around">
  <figure class="d-flex flex-column">
    <img src="{% static 'images/tshirt.png' %}" alt="">
    <caption>NMDB T-Shirt</caption>
  </figure>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-lg btn-primary" id="submitBtn">Purchase!</button>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
const PAYMENTS_KEY_URL = "{% url 'payments_pubkey' %}";
const PAYMENS_CHECKOUT_SESSION_URL = "{% url 'payments_checkout_session' %}";
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'scripts/payments.js' %}"></script>
{% endblock scripts %}
