{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>
<div class="d-flex flex-wrap justify-content-around">
  {% for product in products%}
    <div class="card mb-3" style="max-width: 640px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: {{ product.price|floatformat:2 }}$</p>
          <a href="{% url 'cart_add' id=product.id %}" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
